@{
    ViewData["Title"] = "ContactUs";
}

<h2 align="Left" style="color: seagreen">Contact Us</h2>

<h3>Don't hesistate to contact us if you have any queries: </h3>
<p>       </p>
<p>________________________________________________________________________________________________________________</p>
<p>               </p>
<h4>Email Addresses:</h4>
<h6>Ashley Pillay - ABC Retail's Head Administrator: </h6>
<p style="color: seagreen">CardinalSystem@abcretail.com</p>
<h6>Mick Gouweloos - ABC Retail's Head Sales Employee: </h6>
<p style="color: seagreen">MickyG32@gmail.com</p>
<h6>Alice Zuberg - ABC Retail's Secondary Sales Employee: </h6>
<p style="color: seagreen">AliceZuberg@gmail.com</p>
<p>________________________________________________________________________________________________________________</p>
<p>                 </p>
<h4>Main Office Physical Address:</h4>
<h6 style="color: seagreen">12 Kenningville Avenue, Westville, Durban, Kwazulu-Natal</h6>
<p>We no longer support physical letters or fax but you can physically visit us if nearby</p>
<p>________________________________________________________________________________________________________________</p>
<p>              </p>