@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 align="Center" style="color: seagreen">To ABC Retail!</h2>
    <h3 align="Center"> We are an e-commerce platform which sells beautiful tech products from international manufacturers to consumers like you!</h3>
    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <p>       </p>
    <h4 align="Left">How to navigate through our website:</h4>
    <p>        </p>
    <h5 align="Left" style="color: seagreen">~ About Us: </h5>
    <p align="Left">This is where you'll learn even more about us to cure your ever-growing curiosty about us!</p>

    <h5 align="left" style="color: seagreen">~ Contact Us: </h5>
    <p align="Left">Want to know even more about us or just have some qeuries about the products we sell among many other things? Then ask away over here!</p>

    <h5 align="Left" style="color: seagreen">~ Products: </h5>
    <p align="Left">This is where you'll be able to view and purchase the wonderful tech products from manufacturers around the world!</p>

    <h5 align="Left" style="color: seagreen">~ Order: </h5>
    <p align="Left">Found something you desire from the 'Product' page? Then head on over to the 'Order' page to place an order!</p>
    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>


</div>
